@model IEnumerable<Inwentarz.Models.PlanZywieniowy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PoraKarmienia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RodzajPaszy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ilosc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PoraKarmienia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RodzajPaszy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KarmienieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KarmienieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KarmienieId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
